---
import Introduction from '@/src/components/about/Introduction.astro'
import TimeLine from '@components/TimeLine'
import Resources from '@/src/components/about/Resources'
import { getI18n } from '@i18n/index'

import type { TimelineItem, Resource } from '@/src/types/app'

interface Props {
  education: TimelineItem[]
  resources: Resource[]
}

const { education, resources } = Astro.props

const i18n = getI18n(Astro.currentLocale)
---

<div class='flex flex-col gap-40 w-screen items-center' id={i18n.SECTIONS.ID.ABOUT}>
  <h1 class='text-secondary selection-secondary text-center' id={i18n.SECTIONS.ID.ABOUT}>
    {i18n.SECTIONS.ABOUT.TITLE}
  </h1>

  <div class='mt-12 md:mt-72 relative flex w-full bg-secondary clippy min-h-96 justify-center'>
    <!-- actual work section -->
    <section class='flex flex-col gap-20 px-10 pb-20 w-full standard-container text-background'>
      <div class='flex justify-evenly items-center gap-4 -mt-40 md:-mt-72 w-[150%] max-w-[90vw] self-center'>
        <!-- glow -->
        <div class='absolute bg-secondary blur-3xl [border-radius:50%] size-full -top-16 md:-top-32 -z-10'>
        </div>
        <!-- Section Banner -->
        <div class='w-4/5 flex flex-col items-center'>
          <img src='/img/avatar/sections/about.webp' alt='Kino' class='object-fit' />
        </div>
      </div>
      <Introduction introduction={i18n.SECTIONS.ABOUT.INTRODUCTION} />
      <h2 class='text-center'>{i18n.SECTIONS.ABOUT.EDUCATION}</h2>
      <TimeLine
        client:only='react'
        ascend
        bgColor='secondary'
        timeline={education}
        labels={{ ...i18n.BUTTON_LABELS }}
      />
    </section>
  </div>
  <section
    class={`
      ${resources.length < 1 && 'hidden'}
      flex flex-col items-center gap-20 px-10 py-20 w-full standard-container selection-secondary text-secondary
    `}>
    <div class='text-center'>
      <h3>{i18n.SECTIONS.ABOUT.RESOURCES.TITLE}</h3>
      <p>{i18n.SECTIONS.ABOUT.RESOURCES.BODY}</p>
    </div>
    <!-- Resources section -->
    <Resources client:only='react' resources={resources} labels={{ ...i18n.BUTTON_LABELS }} />
  </section>
</div>
