---
import Body from '@layouts/Layout.astro'
import Header from '@components/Header.astro'
import WorkSection from '@components/WorkSection.astro'
import AboutMeSection from '@components/AboutMeSection.astro'

import type { Project, TimelineItem } from '../types/app'

// titles.length should be multiple of 3
const titles = ['Developer', 'CS Major', 'Engineer', 'Self-Taught', 'Artist', 'Designer' /* 'Math Enjoyer' */]

const mainProjects: Project[] = [
  {
    name: 'Recipee',
    brief: 'Food recipe catalogue',
    description: `
    hola
    `,
    image: 'web-lab.jpg',
    github: 'aksjda',
    technologies: ['MySQL', 'Vuejs', 'Laravel']
  },
  {
    name: 'Web Lab',
    brief: 'Project Collection',
    description: `
    Inspired by the 50 Days 50 Projects Challenge, I decided to create a website with a collection of web experiments where you can take a look at what's possible to do with web technologies.
    `,
    image: 'web-lab.jpg',
    github: 'https://github.com/XsKino/web-lab',
    link: 'https://xs-web-lab.vercel.app/',
    technologies: ['Astro', 'React', 'TailwindCSS']
  },
  {
    name: 'No',
    description: `
    adios
    `,
    image: 'web-lab.jpg',
    technologies: ['Nodejs', 'Kubernetes', 'TypeScript']
  }
]

const otherProjects: Project[] = [
  {
    name: 'uno',
    brief: 'brief xd',
    description: `
    hola
    `,
    image: 'web-lab.jpg',
    technologies: ['React', 'TailwindCSS', 'TypeScript']
  },
  {
    name: 'yadayada',
    description: `
    reeeeeeeeeeeeeeeee
    `,
    image: 'ewe.png',
    technologies: ['React', 'TailwindCSS', 'TypeScript']
  },
  {
    name: 'No',
    brief: 'recipe catalogue',
    description: `
    adios
    `,
    image: 'web-lab.jpg',
    technologies: ['React', 'TailwindCSS', 'TypeScript']
  },
  {
    name: 'mememmeme',
    description: `
    hola
    `,
    image: 'uwu.png',
    technologies: ['React', 'TailwindCSS', 'TypeScript']
  },
  {
    name: 'dos',
    description: `
    reeeeeeeeeeeeeeeee
    `,
    image: 'ewe.png',
    technologies: ['React', 'TailwindCSS', 'TypeScript']
  },
  {
    name: 'laksjdlkas',
    description: `
    adios
    `,
    image: 'owo.png',
    technologies: ['React', 'TailwindCSS', 'TypeScript']
  }
]

const jobsTimeline: TimelineItem[] = [
  {
    date: '2020',
    title: 'yadayadayada',
    body: 'lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
  },
  {
    date: '2020',
    title: 'yadayadayada',
    body: 'lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
  },
  {
    date: '2020',
    title: 'yadayadayada',
    body: 'lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
  },
  {
    date: '2020',
    title: 'yadayadayada',
    body: 'lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
  }
]

const educationTimeLine: TimelineItem[] = [
  {
    date: '2019 - 2022',
    title: 'High School',
    body: 'During high school I took the programming specialty, where I learned the basics of programming with Java, web development with JavaScript, PHP and Laravel, databases with MySQL, and mobile development with React Native.'
  },
  {
    date: '2021 - 2023',
    title: 'FreeCodeCamp.org',
    body: 'I have completed multiple courses on FreeCodeCamp.org, learning about web development, data structures, algorithms, and more.'
  },
  {
    date: '2021 - Present',
    title: 'Self-Taught',
    body: "I have learned a lot of things on my own, such as React, TypeScript, Nextjs, MongoDB, TailwindCSS, Astro, and more. You can tell i've got a liking for web development."
  },
  {
    date: '2022 - 2023',
    title: 'Oracle Next Education',
    body: '5th generation alumni of the Oracle Next Education program, where I took the back-end specialty, increasing my knowledge in JavaScript, Java and SQL. Also learning Spring Boot and REST APIs, and various soft skills.'
  },
  {
    date: '2022 - Present',
    title: 'Computer Science Major',
    body: "Currently studying Computer Science at Chihuahua's Institute of Technology II (ITCHII). So far, I have strengthened my knowledge in Object-Oriented Programming, Data Structures, and Algorithms."
  }
]
---

<Body
  title='Andrés Piñón | Kino'
  lang='es'
  description='Desarrollador full stack. Amo crear soluciones únicas.'
  htmlClass='bg-background'
  class='flex flex-col items-center selection-foreground'>
  <div
    class='background-image fixed -z-50 inset-0 bg-[linear-gradient(to_right,#fff1_1px,transparent_1px),linear-gradient(to_bottom,#fff1_1px,transparent_1px)] bg-[size:4vh_4vh] [mask-image:radial-gradient(ellipse_70%_80%_at_50%_0%,#000_70%,transparent_110%)]'>
  </div>
  <Header name='Kino' titles={titles}>
    <p>+3 years of experience in software development. I love to create unique solutions.</p>
    <p class='text-2xl'>I code to make the world a better place.</p>
  </Header>
  <main class='flex flex-col gap-40 w-screen items-center'>
    <WorkSection mainProjects={mainProjects} otherProjects={otherProjects} jobsTimeline={jobsTimeline} />
    <AboutMeSection education={educationTimeLine} />
    <div class='h-screen'></div>
  </main>
</Body>

<style>
  @keyframes parallax {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100vh);
    }
  }

  .background-image {
    view-timeline-name: --background-image;
    animation-timeline: --background-image;
    animation-name: parallax;
    animation-timing-function: linear;

    view-timeline-axis: block;
    animation-range: entry 50vh cover 500vh;
    animation-fill-mode: both;
  }
</style>
