---
import LanguageSwitch from '@components/navbar/LanguageSwitch'
import Item from '@components/navbar/NavBarItem'

import HomeIcon from '@icons/Home.astro'
import WorkIcon from '@icons/Work.astro'
import AboutIcon from '@icons/About.astro'
import Contact from '@icons/Contact.astro'

import { getI18n } from '@/src/i18n'

const i18n = getI18n(Astro.currentLocale)
---

<nav
  class='side-nav-bar fixed xl:flex z-40 text-3xl flex justify-evenly xl:flex-col bottom-0 left-0 xl:left-[unset] w-full xl:right-0 xl:bottom-unset xl:top-0 xl:pr-3 xl:w-fit xl:h-screen bg-gradient-to-t from-black to-black/50 backdrop-blur xl:bg-none xl:backdrop-blur-none'>
  <Item client:only='react' id={i18n.SECTIONS.ID.HOME} title={i18n.SECTIONS.ID.HOME.toLocaleUpperCase()}>
    <HomeIcon />
  </Item>
  <Item client:only='react' id={i18n.SECTIONS.ID.WORK} title={i18n.SECTIONS.ID.WORK.toLocaleUpperCase()}>
    <WorkIcon />
  </Item>
  <Item client:only='react' id={i18n.SECTIONS.ID.ABOUT} title={i18n.SECTIONS.ID.ABOUT.toLocaleUpperCase()}>
    <AboutIcon />
  </Item>
  <Item
    client:only='react'
    id={i18n.SECTIONS.ID.CONTACT}
    title={i18n.SECTIONS.ID.CONTACT.toLocaleUpperCase()}>
    <Contact />
  </Item>
  <div class='text-xl py-6 xl:py-0 xl:px-6 flex-1 group cursor-pointer grid place-content-center'>
    <LanguageSwitch locale={Astro.currentLocale} client:only='react' />
  </div>
</nav>

<style>
  .active-navbar-item > i {
    scale: 1.25 !important;
    opacity: 1 !important;
  }

  .side-nav-bar {
    view-timeline-name: --navbar;
    view-timeline-axis: block;

    animation-timeline: --navbar;
    animation-name: navbaranimation;

    animation-range: entry 100vh cover 400vh;
    animation-fill-mode: both;
  }

  @keyframes navbaranimation {
    from {
      background: transparent;
    }
    to {
      background: #0003;
      backdrop-filter: blur(8px);
    }
  }
</style>
