---
import { Toaster } from 'react-hot-toast'

// Supports weights 100-800
import '@fontsource-variable/sora'
import '@fontsource-variable/onest'

interface Props {
  title: string
  description: string
  lang: string
  class?: string
  htmlClass?: string
}

const { title, description, lang, class: bodyClass, htmlClass } = Astro.props
---

<html lang={lang} class={htmlClass}>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta property='og:image' content='/img/avatar/avatar-1.webp' />
    <meta property='og:image:type' content='image/webp' />
    <meta property='og:image:width' content='255' />
    <meta property='og:image:height' content='255' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={description} />
    <title>{title}</title>

    <style is:global>
      * {
        -webkit-tap-highlight-color: transparent;
      }
      :root {
        --col-background: #1a1a1a;
        --col-foreground: #fefefe;
        --col-focus: #fefefe;
        --col-primary: #ff4da8;
        --col-secondary: #b3d0ff;
        --col-tertiary: #fff080;
        --col-success: #b3d0ff;
        --col-warning: #fff080;
        --col-danger: #ff4da8;
      }
      html,
      body {
        color-scheme: light dark;
        margin: 0;
        padding: 0;
        font-family: 'Sora Variable', monospace, system-ui, sans-serif;
        font-weight: 400;
        font-size: calc(10px + 0.8vmin);
        line-height: 1.5;
        text-wrap: pretty;
        overflow: hidden;
        /* Firefox Scrollbar */
        scrollbar-width: thin;
        scrollbar-color: #fff4 #fff2;
      }

      body::-webkit-scrollbar {
        width: 0.9rem;
      }

      body::-webkit-scrollbar-track {
        background: #fff2;
      }
      body::-webkit-scrollbar-track:hover {
        background: #fff3;
      }

      body::-webkit-scrollbar-thumb {
        background: #fff3;
      }

      body::-webkit-scrollbar-thumb:active {
        background: var(--col-primary);
      }

      html {
        height: 100svh;
        width: 100vw;
        overflow-y: auto;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        text-wrap: balance;
        letter-spacing: 0.25em;
        text-transform: uppercase;
      }
      h3 {
        font-size: 1.5rem;
      }
      h2 {
        font-size: 2rem;
      }
      h1 {
        font-size: 2.5rem;
        padding-top: 1em;
      }
      p {
        margin-bottom: 0.5em;
        letter-spacing: 0.075em;
      }
      img {
        max-width: 100%;
        height: auto;
      }

      .selection-foreground::selection,
      .selection-foreground *::selection {
        background-color: var(--col-foreground);
        color: var(--col-background);
      }

      .selection-primary::selection,
      .selection-primary *::selection {
        background-color: var(--col-primary);
        color: var(--col-background);
      }
      .selection-secondary::selection,
      .selection-secondary *::selection {
        background-color: var(--col-secondary);
        color: var(--col-background);
      }
      .selection-tertiary::selection,
      .selection-tertiary *::selection {
        background-color: var(--col-tertiary);
        color: var(--col-background);
      }
      .selection-foreground-important::selection,
      .selection-foreground-important *::selection {
        background-color: var(--col-foreground);
        color: var(--col-background);
      }

      .font-sora {
        font-family: 'Sora Variable', monospace, system-ui, sans-serif;
      }
      .font-onest {
        font-family: 'Onest Variable', monospace, system-ui, sans-serif;
      }

      .overflow-fade {
        -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
      }

      .standard-container {
        max-width: 768px;
        min-width: 33vw;
      }

      .scrollbar {
        scrollbar-width: thin;
        scrollbar-color: currentColor var(--col-background);
      }

      .scrollbar::-webkit-scrollbar {
        position: relative;
        left: 1em;
        width: 0.5em;
      }
      .scrollbar::-webkit-scrollbar-track {
        background-color: #0006;
        border-radius: 0.25em;
      }
      .scrollbar::-webkit-scrollbar-thumb {
        cursor: pointer !important;
        background-color: currentColor;
        border-radius: 0.25em;
      }

      .clippy {
        clip-path: polygon(0 -100%, 100% -100%, 100% calc(100% - 8rem), 50% 100%, 0 calc(100% - 8rem));
        padding-bottom: 7rem;
      }
    </style>
  </head>
  <body class={bodyClass}>
    <slot />
  </body>
</html>
